--
-- PostgreSQL database dump
--

\restrict m0NzOxu6qcNYprgYpfGM3ndMGCqot6DlmuodIJrRhNi4Zh4PIOPDwp91fJ33wVm

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: article; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.article (
    id_article bigint NOT NULL,
    titre character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    extrait text,
    contenu text NOT NULL,
    date_publication timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_modification timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    est_publie boolean DEFAULT false,
    id_utilisateur bigint NOT NULL
);


ALTER TABLE public.article OWNER TO devuser;

--
-- Name: article_categorie; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.article_categorie (
    id_categorie integer NOT NULL,
    id_article bigint NOT NULL
);


ALTER TABLE public.article_categorie OWNER TO devuser;

--
-- Name: article_id_article_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.article_id_article_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.article_id_article_seq OWNER TO devuser;

--
-- Name: article_id_article_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.article_id_article_seq OWNED BY public.article.id_article;


--
-- Name: categorie; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.categorie (
    id_categorie integer NOT NULL,
    nom_categorie character varying(100) NOT NULL,
    slug character varying(100) NOT NULL
);


ALTER TABLE public.categorie OWNER TO devuser;

--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.categorie_id_categorie_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categorie_id_categorie_seq OWNER TO devuser;

--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.categorie_id_categorie_seq OWNED BY public.categorie.id_categorie;


--
-- Name: page; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.page (
    id_page bigint NOT NULL,
    titre character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    contenu text NOT NULL,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_modification timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    est_publie boolean DEFAULT false,
    id_utilisateur bigint NOT NULL
);


ALTER TABLE public.page OWNER TO devuser;

--
-- Name: page_id_page_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.page_id_page_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.page_id_page_seq OWNER TO devuser;

--
-- Name: page_id_page_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.page_id_page_seq OWNED BY public.page.id_page;


--
-- Name: role; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.role (
    id_role integer NOT NULL,
    nom_role character varying(50) NOT NULL
);


ALTER TABLE public.role OWNER TO devuser;

--
-- Name: role_id_role_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.role_id_role_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.role_id_role_seq OWNER TO devuser;

--
-- Name: role_id_role_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.role_id_role_seq OWNED BY public.role.id_role;


--
-- Name: users; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(191) NOT NULL,
    password_hash character varying(255) NOT NULL,
    activation_token character varying(64) DEFAULT NULL::character varying,
    is_active smallint DEFAULT 0,
    reset_token character varying(64) DEFAULT NULL::character varying,
    reset_expires timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    id_role bigint DEFAULT 2 NOT NULL
);


ALTER TABLE public.users OWNER TO devuser;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO devuser;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: article id_article; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.article ALTER COLUMN id_article SET DEFAULT nextval('public.article_id_article_seq'::regclass);


--
-- Name: categorie id_categorie; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.categorie ALTER COLUMN id_categorie SET DEFAULT nextval('public.categorie_id_categorie_seq'::regclass);


--
-- Name: page id_page; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.page ALTER COLUMN id_page SET DEFAULT nextval('public.page_id_page_seq'::regclass);


--
-- Name: role id_role; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.role ALTER COLUMN id_role SET DEFAULT nextval('public.role_id_role_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: article; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.article (id_article, titre, slug, extrait, contenu, date_publication, date_modification, est_publie, id_utilisateur) FROM stdin;
\.


--
-- Data for Name: article_categorie; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.article_categorie (id_categorie, id_article) FROM stdin;
\.


--
-- Data for Name: categorie; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.categorie (id_categorie, nom_categorie, slug) FROM stdin;
\.


--
-- Data for Name: page; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.page (id_page, titre, slug, contenu, date_creation, date_modification, est_publie, id_utilisateur) FROM stdin;
1	C'est un test	test	Bonjour c'est un teste	2025-12-09 11:09:48	2025-12-09 11:11:55	f	1
3	Titre	url	le contenu je t'est hack	2025-12-09 11:43:55	2025-12-10 13:52:22	t	2
4	bonjour	bonjour	en revoir	2025-12-10 13:51:35	2025-12-10 13:52:27	t	3
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.role (id_role, nom_role) FROM stdin;
1	Admin
2	User
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Name: article_id_article_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.article_id_article_seq', 1, false);


--
-- Name: categorie_id_categorie_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.categorie_id_categorie_seq', 1, false);


--
-- Name: page_id_page_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.page_id_page_seq', 4, true);


--
-- Name: role_id_role_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.role_id_role_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: article_categorie article_categorie_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.article_categorie
    ADD CONSTRAINT article_categorie_pkey PRIMARY KEY (id_categorie, id_article);


--
-- Name: article article_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT article_pkey PRIMARY KEY (id_article);


--
-- Name: article article_slug_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT article_slug_key UNIQUE (slug);


--
-- Name: categorie categorie_nom_categorie_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.categorie
    ADD CONSTRAINT categorie_nom_categorie_key UNIQUE (nom_categorie);


--
-- Name: categorie categorie_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.categorie
    ADD CONSTRAINT categorie_pkey PRIMARY KEY (id_categorie);


--
-- Name: categorie categorie_slug_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.categorie
    ADD CONSTRAINT categorie_slug_key UNIQUE (slug);


--
-- Name: page page_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.page
    ADD CONSTRAINT page_pkey PRIMARY KEY (id_page);


--
-- Name: page page_slug_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.page
    ADD CONSTRAINT page_slug_key UNIQUE (slug);


--
-- Name: role role_nom_role_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_nom_role_key UNIQUE (nom_role);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id_role);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: article_categorie article_categorie_id_article_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.article_categorie
    ADD CONSTRAINT article_categorie_id_article_fkey FOREIGN KEY (id_article) REFERENCES public.article(id_article) ON DELETE CASCADE;


--
-- Name: article_categorie article_categorie_id_categorie_fkey; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.article_categorie
    ADD CONSTRAINT article_categorie_id_categorie_fkey FOREIGN KEY (id_categorie) REFERENCES public.categorie(id_categorie) ON DELETE CASCADE;


--
-- Name: page fk_page_users; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.page
    ADD CONSTRAINT fk_page_users FOREIGN KEY (id_utilisateur) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users fk_user_role; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_user_role FOREIGN KEY (id_role) REFERENCES public.role(id_role) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict m0NzOxu6qcNYprgYpfGM3ndMGCqot6DlmuodIJrRhNi4Zh4PIOPDwp91fJ33wVm

